h1 {
font-family: 'Courier New', Courier, monospace;
text-align: center;
text-decoration: underline;
background-color: aqua;

}
p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
text-align: center;
}
img {
    
}
